
COMPOSE_PROJECT_NAME=<name>-web
NAME=<name>

## Domains
DOMAIN=<domain>
HTML_SITE_PATH=/var/www/html/

### CloudFlare Zerotrust Token
CF_TOKEN=<Cloud Flare tunel token>

### Networking (Docker network)
MYGATEWAY="<An IP>"
MYNETWORKS="<same subnet from My Gateways>"

### Emails AWS
### IAM User<setup an IAM User>
AWS_REGION_OVERRIDE=us-east-1
SES_USERNAME_PARAM=<IAM AWS ID>
SES_PASSWORD_PARAM=<IAM AWS KEY>

### Database
DB_ROOT_PW=<root password>

### PHPMyAdmin/configs user
APP_DB_USER=<wordpress db user>
APP_DB_PASSWORD=<wordpress db password>
APP_DB_NAME=<wordpress db name>

## Cron Job / Backup 
RESTIC_PASSWORD=<restic password>



#### AUTO Form HERE

### Emails AWS
SES_PRIMARY_DOMAIN=$DOMAIN
SES_MYHOSTNAME=$SES_PRIMARY_DOMAIN

### Database
MARIADB_ROOT_PASSWORD=$DB_ROOT_PW
MYSQL_ROOT_PASSWORD=$DB_ROOT_PW

### PHPMyAdmin/configs user
PMA_USER=$APP_DB_USER
PMA_PASSWORD=$APP_DB_PASSWORD
PMA_DB_NAME=$APP_DB_NAME

## Cron Job / Backup
# DB Name is the same as docker compose
DBNAME=${NAME}-mariadb 
